<footer class="d-flex flex-row align-items-center justify-content-center bg-secondary ">
  <div class="p-2 m-2 font-weight-bold">
    <a href="#">
      Copyright &copy; MSPR - {{getYear()}}
    </a>
  </div>
  <div class="p-2 m-2"><a href="">
    Mentions Légales
  </a>
  </div>
  <div class="p-2 m-2">
    <a href="#">
      Confidentialité
    </a>
  </div>
  <div class="p-2 m-2">
    <a href="#">
      Conditions générales
    </a>
  </div>

</footer>

