<section class="container">
  <div class="row">
    <h1 class="title">Modifier un produit</h1>
  </div>

  <div class="row">
    <app-product-form [form]="productFormGroup" (submit)="handleSubmit()"></app-product-form>
  </div>
</section>


