<section class="container">
  <div class="row">
    <h1 class="title">Modifier l'employé</h1>
  </div>
  <div class="row">
    <app-user-form [form]="userFormGroup" class="d-block my-4" (submit)="handleSubmit()"></app-user-form>
  </div>
</section>

