<div class="container-fluid">
  <header class="row my-4">
    <a href="/" class="brand-logo">
      <img src="/assets/img/logoCRM.png" alt="mspr-logo" class="img-fluid">
    </a>
  </header>
  <nav class="d-block">
    <div class="d-flex flex-row m-4">
      <a class="menu-item" [routerLink]="['/app', '']" routerLinkActive="menu-actif">
        <app-icon-home class="btn btn-outline-secondary "></app-icon-home>
        Home
      </a>
    </div>
    <div class="d-flex flex-row m-4">
      <a class="menu-item" [routerLink]="['/app', 'clients']" routerLinkActive="menu-actif">
        <app-icon-client class="btn btn-outline-secondary "></app-icon-client> Clients
      </a>
    </div>
    <div class="d-flex flex-row m-4">
      <a class="menu-item" [routerLink]="['/app', 'products']" routerLinkActive="menu-actif">
        <app-icon-product class="btn btn-outline-secondary "></app-icon-product>
        Produits
      </a>
    </div>
    <div class="d-flex flex-row m-4">
      <a class="menu-item" [routerLink]="['/app', 'orders']" routerLinkActive="menu-actif">
        <app-icon-order class="btn btn-outline-secondary "></app-icon-order>
       Commandes
      </a>
    </div>

    <div class="d-flex flex-row m-4">
      <a class="menu-item" [routerLink]="['/app', 'users']" routerLinkActive="menu-actif">
        <app-icon-user class="btn btn-outline-secondary "></app-icon-user>
       Utilisateurs
      </a>
    </div>
  </nav>
</div>
