.menu-item {
  display: block;
  padding: 0.5rem 2rem;
  font-size: large;


  &, &:hover {
    text-decoration: none;
  }

  &, &:visited {
    color: var(--app-secondary);
  }

  &:hover, &.menu-actif {
    font-weight: 500;
    background-color: var( --app-primary-dark);

  }
}
