<!--Container de l'image-->
<script src="page-sign-in.component.ts"></script>
<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">

        <!--Container 2ème page et formulaire-->
        <div class="container">
          <img class="img-fluid" src="assets/img/logoCRM.png" alt="logo CRM solution camping-car">
          <div class="row full-height justify-content-center">
            <div class="col-12 text-center align-self-center py-5">
              <div class="section pb-5 pt-5 pt-sm-2 text-center">
                <h6 class="mb-0 pb-3"><span>Connexion </span><span>Inscription</span></h6>
                <input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
                <label for="reg-log"></label>
                <div class="card-3d-wrap mx-auto">
                  <div class="card-3d-wrapper">
                    <div class="card-front">
                      <div class="center-wrap">
                        <div class="section text-center">
                          <h4 class="mb-4 pb-3">Connexion</h4>

                          <app-login-signin-form></app-login-signin-form>

                          <p class="mb-0 mt-4 text-center"><a [routerLink]="['/login/reset']"
                                                              [routerLinkActive]="'menu-actif'" class="link">Mot de
                            passe oublié ?</a></p>
                        </div>
                      </div>
                    </div>
                    <div class="card-back">
                      <div class="center-wrap">
                        <div class="section text-center">
                          <h4 class="mb-4 pb-3">Inscription</h4>

                          <app-login-signup-form></app-login-signup-form>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
