<div class="container-form">
  <form [formGroup]="form" (ngSubmit)="handleSubmit()">
    <div class="form-group">

      <div class="form-group">
        <label for="products">Article</label>
        <select class="form-select" name="productName" id="products"
                formControlName="productId">
          <option selected value="">Choisissez un article</option>
          <option *ngFor="let product of (products$ | async)"
                  [ngValue]="product.id">{{product.denomination}}</option>
        </select>

        <div class="invalid-feedback" *ngIf="hasError('clientName', 'required')">
          Champs obligatoire
        </div>
      </div>

      <div class="form-group">
        <label for="clients">Client</label>
        <select class="form-select" name="clientName" id="clients"
                formControlName="customerId">
          <option selected value="">Choisissez un client</option>
          <option *ngFor="let client of (clients$ | async)"
                  [ngValue]="client.id">{{client.firstname}} {{client.lastname}}</option>
        </select>

        <div class="invalid-feedback" *ngIf="hasError('clientName', 'required')">
          Champs obligatoire
        </div>
      </div>

      <div class="form-group">
        <label for="state">Etat de la commande</label>
        <!--      <input class="form-control" [ngClass]="{'is-invalid': hasError('state', 'required')}" id="state"-->
        <!--             formControlName="orderState">-->

        <select class="form-select" [ngClass]="{'is-invalid': hasError('orderState', 'required')}" id="state"
                formControlName="orderState">
          <option selected value="">Choix du statut de la commande</option>
          <option *ngFor="let state of orderStates"
                  [value]="state">
            {{state}}
          </option>

        </select>
        <div class="invalid-feedback" *ngIf="hasError('state', 'required')">
          Champs obligatoire
        </div>

      </div>

      <div class="form-group">
        <label for="paymentMethod">Mode de paiement</label>
        <!--      <input type="text" class="form-control"-->
        <!--             [ngClass]="{'is-invalid': hasError('paymentMethod', 'required') || hasError('paymentMethod', 'paymentMethod')}"-->
        <!--             id="paymentMethod"-->
        <!--             formControlName="paymentMethod">-->


        <select class="form-select" [ngClass]="{'is-invalid': hasError('paymentMethod', 'required')}" id="paymentMethod"
                formControlName="paymentMethod">
          <option selected value="">Choix de la méthode de paiement</option>
          <option *ngFor="let payMethod of paymentMethods"
                  [value]="payMethod">
            {{payMethod}}
          </option>
        </select>

        <div class="invalid-feedback" *ngIf="hasError('paymentMethod', 'required')">
          Champs obligatoire
        </div>
        <div class="invalid-feedback" *ngIf="hasError('paymentMethod', 'paymentMethod')">
          Méthode de paiement invalide
        </div>
      </div>

      <div class="form-group">
        <label for="orderDate">Date de commande</label>
        <input class="form-control" id="orderDate" formControlName="orderDate">
      </div>

      <div class="form-group">
        <label for="notes">Notes</label>
        <textarea class="form-control" id="notes" formControlName="notes" rows="3"></textarea>
      </div>

      <div class="mt-4 d-flex align-items-center justify-content-between">
        <button type="button" class="btn btn-light" (click)="handleResetForm()">Annuler</button>
        <button type="button" class="btn btn-primary" [disabled]="form.invalid" (click)="handleSubmit()">Enregistrer
        </button>
        <button type="button" class="btn btn-secondary" [routerLink]="['/app', 'orders', 'list']">Retour</button>
      </div>
    </div>

  </form>
</div>
