<form [formGroup]="signinUserForm" (ngSubmit)="onSubmitSignin()">

  <div class="form-group">
    <input class="form-control" [ngClass]="{'is-invalid': hasError('username', 'required') || hasError('username', 'required')}"
           formControlName="username" placeholder="Votre Identifiant" autocomplete="off">
    <div class="invalid-feedback" *ngIf="hasError('username', 'required')">
      Champs obligatoire
    </div>
  </div>

  <div class="form-group mt-2">
    <input type="password" class="form-control" [ngClass]="{'is-invalid': hasError('password', 'required')}"
           formControlName="password" placeholder="Votre mot de passe" autocomplete="off">
    <div class="invalid-feedback" *ngIf="hasError('password', 'required')">
      Champs obligatoire
    </div>
  </div>

  <button type="submit" class="btn mt-4">Se connecter</button>
</form>
