<app-template-container title="Liste des Employés">

  <div class="action-buttons">
    <a class="btn btn-secondary" [routerLink]="['/app', 'users', 'add']">Ajouter</a>
  </div>

  <div class="table-responsive">
  <app-table-light [headers]="userHeaders">
    <tr *ngFor="let user of (users$ | async)" >
      <td>{{user.id}}</td>
      <td>{{user.username}}</td>
      <td>{{user.employeeNumber}}</td>
      <td>{{user.lastname | uppercase}}</td>
      <td>{{user.firstname}}</td>
      <td>{{user.email}}</td>
      <td>{{user.grants}}</td>
      <td>{{user.job}}</td>
      <td class="buttons-seperate">
        <app-icon-edit class="btn btn-outline-primary btn-sm m-2" [routerLink]="['/app', 'users', 'edit', user.id]">Modifier</app-icon-edit>
        <app-icon-delete class="btn btn-outline-danger btn-sm m-2" (click)="handleDelete(user.id)">Supprimer</app-icon-delete>
      </td>
    </tr>
  </app-table-light>
  </div>
</app-template-container>

