.form-group{
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}
.form-control {
  padding: 13px 20px;
  padding-left: 55px;
  height: 48px;
  width: 100%;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: #385566;
  background-color: #ffffff;
  border: none;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.form-style:focus,
.form-style:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}

.btn{
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition : all 200ms linear;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  /*-moz-align-items: center;
  -ms-align-items: center;*/
  align-items: center;
  -webkit-justify-content: center;
  /*-moz-justify-content: center;
  -ms-justify-content: center;*/
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #385566;
  color: #ffffff;
  box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
}
.btn:active,
.btn:focus{
  background-color: #ffffff;
  color: #385566;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}
.btn:hover{
  background-color: #ffffff;
  color: #385566;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}
