<form [formGroup]="signupUserForm" (ngSubmit)="onSubmitSignup()">

  <div class="form-group">
    <input class="form-control" [ngClass]="{'is-invalid': hasError('username', 'required')}"
           formControlName="username" placeholder="Votre identifiant" autocomplete="off">

    <div class="invalid-feedback" *ngIf="hasError('username', 'required')">
      Champs obligatoire
    </div>

  </div>

  <div class="form-group mt-2">
    <input type="number" class="form-control" [ngClass]="{'is-invalid': hasError('employeeNumber', 'required')}"
           formControlName="employeeNumber" placeholder="Votre n°employé" autocomplete="off">

    <div class="invalid-feedback" *ngIf="hasError('employeeNumber', 'required')">
      Champs obligatoire
    </div>

  </div>

  <div class="form-group mt-2">
    <input type="password" class="form-control" [ngClass]="{'is-invalid': hasError('password', 'required')}"
           formControlName="password" placeholder="Votre mot de passe" autocomplete="off">

    <div class="invalid-feedback" *ngIf="hasError('password', 'required')">
      Champs obligatoire
    </div>

  </div>

  <button type="submit" class="btn mt-4">Je m'inscris</button>
</form>
