//:root {
//  --app-primary: #385666;
//  --app-primary-dark: #374a56;
//  --app-secondary: #ef5446;
//
//  --app-dark: #2a2a2a;
//  --app-light: #ffffff;
//  --app-darklight: #fbfbfb;
//  --app-darklight2: #bebdbd;
//
//  --app-error: #e2445c;
//  --app-warning: #f25c05;
//  --app-success: #9ebf6b;
//}

$theme-colors: (
  "primary": #385666,
  "primary-dark": #374a56,
  "secondary": #ef5446,
  "dark": #2a2a2a,
  "light": #ffffff,
  "darklight": #fbfbfb,
  "darklight2": #bebdbd,
  "error": #e2445c,
  "danger": #ff4136,
  "success": #9ebf6b,
);

@import "node_modules/bootstrap/scss/bootstrap";
