<app-template-container title="Liste des commandes">

  <div class="action-buttons">
    <a class="btn btn-secondary" [routerLink]="['/app', 'orders', 'add']">Ajouter</a>
  </div>

  <app-table-light [headers]="orderHeaders">
    <tr *ngFor="let order of (orders$ | async)">
      <td>{{order?.orderDate}}</td>
      <td>{{order?.orderState}}</td>
      <td>{{order?.paymentMethod}}</td>
      <td>{{order?.customerDto?.firstname}} {{order?.customerDto?.lastname}}</td>
      <td>{{order?.productDto?.denomination}}</td>
      <td>{{order?.productDto?.price_ttc}} €</td>
      <td class="buttons-seperate">
        <app-icon-delete class="btn btn-outline-danger btn-sm m-2" (click)="handleDelete(order.id)">Supprimer</app-icon-delete>
      </td>
    </tr>
  </app-table-light>
</app-template-container>
