<link rel="stylesheet" href="user-connected-layout.component.scss">
<section class="d-flex">
  <app-nav [ngClass]="{ 'd-block': openMenu, 'd-none': !openMenu}"></app-nav>
  <section class="flex-grow-1 d-flex flex-column">
    <app-header (menuToggle)="toggleMenu()"></app-header>
    <main class="page-content">
        <ng-content></ng-content>
    </main>
    <app-footer></app-footer>
  </section>
</section>
