<app-template-container title="Liste des clients">

  <div class="action-buttons">
   <!-- <app-icon-add>
    </app-icon-add>-->
    <a class="btn btn-secondary" [routerLink]="['/app', 'clients', 'add']">Ajouter</a>
  </div>

  <app-table-light [headers]="clientHeaders">
    <tr *ngFor="let client of (clients$ | async)" >
      <td>{{client.lastname | uppercase}}</td>
      <td>{{client.firstname }}</td>
      <td>{{client.email}}</td>
      <td>{{client.address}}</td>
      <td>{{client.mobile}}</td>
      <td>{{client.status}}</td>
      <td>{{client.notes}}</td>
      <td>
        <app-icon-edit class="btn btn-outline-primary btn-sm m-2" [routerLink]="['/app', 'clients', 'edit', client.id]">Modifier</app-icon-edit>
        <app-icon-delete class="btn btn-outline-danger btn-sm m-2" (click)="handleDelete(client.id)">Supprimer</app-icon-delete>
      </td>
    </tr>
  </app-table-light>
</app-template-container>
