*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-search {
  height: 14rem;
  width: 23rem;
  margin-left: 20px;
  background: linear-gradient(#ef5446, white, #ef5446);
  border-radius: 15px;
}

.filterSearch {
  font-weight: bold;
}

.form-group{
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-left: 10px;
  padding-left: 15px;
  height: 48px;
  border-radius: 15px;
  width: 20rem;
  background-color: #ffffff;
}

.input-group-text {
  width: 2rem;
}

app-icon-search {
  font-size: 1.5rem;

}

.form-fieldset {
  margin-top: 20px;
  margin-bottom: 20px;
}

legend {
  margin-left: 10px;
}

.radio-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.radio-container .radio-option {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.decroissant, .croissant {
  margin-right: 5px;
}

.product-section {
  padding-top: 50px;
}

.card-grid {
  margin: 60px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 60px;
  max-width: 18rem;
}

.card{
  list-style: none;
  border-style: none;
  display: block;
  text-align: center;
  border-radius: 5px;
  background: none;
  width: 18rem;
  height: 25rem;
  margin-bottom: 50px;
}

img {
  height: 18rem;
  width: 18rem;
}

.card_background {
  border-radius: 15px;
}

.card-text {
  font-size: 0.75rem;
  text-align: left;
  letter-spacing: 0.5px;
  line-height: 25px;
}
.marque {
  text-align: center;
  line-height: 35px;
  font-size: 0.85rem;
}

span {
  font-weight: bold;
}

.line {
  width: 18rem;
  border: 1px solid #385566;
}

.text-separate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.buttons-seperate {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
app-icon-delete{
  font-size: 1rem;
}

app-icon-edit {
  font-size: 1rem;
}

a {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
}

@media screen and (min-width: 540px) {
  .card-search {
    width: 34rem;
    margin-left: 50px;
  }

  .input-group {
    width: 30rem;
  }

  .line {
    width: 15rem;
  }

  .card-grid {
    margin: 50px;
    grid-template-columns: repeat(2, 1fr);
    max-width: 15rem;
  }

  .card{
    width: 15rem;
    height: 25rem;
    margin-bottom: 0;
  }

  img {
    height: 15rem;
    width: 15rem;
  }

  .card_background {
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition:
      filter 200ms linear,
      transform 200ms linear;
  }

  .card-text {
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition:
      filter 200ms linear,
      transform 200ms linear;
  }

  .card:hover .card_background {
    transform: scale(1.05) translateZ(0);
  }

  .card-grid:hover > .card:not(:hover) .card_background{
    filter: brightness(0.75) saturate(0) contrast(0.5) blur(20px);
  }

  .card:hover .card-text {
    transform: scale(1.05) translateZ(0);
  }

  .card-grid:hover > .card:not(:hover) .card-text {
    filter: blur(5px);
  }
}

@media screen and (min-width: 960px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1500px) {
  .card-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}
