<section class="listProducts">

  <!--<div class="d-flex align-items-center justify-content-between gap-1 mt-4 mb-5">
    <h1 class="text-dark">Liste des produits</h1>
    <div class="action-buttons">
      <button class="btn btn-secondary" [routerLink]="['/app', 'products', 'add']">Ajouter</button>
    </div>
  </div>-->
  <app-template-container title="Liste des produits">
    <div class="action-buttons">
      <a class="btn btn-secondary" [routerLink]="['/app', 'products', 'add']">Ajouter</a>
    </div>
  </app-template-container>





      <div class="card-search">

        <div class="form-fieldset">
          <fieldset class="form-line">
            <legend class="filterSearch">Filtrer</legend>

            <div class="radio-container">
              <div class="radio-option">
                <label class="croissant" for="croissant">Prix croissant</label>
                <input type="radio" value="croissant" id="croissant" name="filter" required />
              </div>

              <div class="radio-option">
                <label class="decroissant" for="decroissant">Prix décroissant</label>
                <input type="radio" value="decroissant" id="decroissant" name="filter" required />
              </div>
            </div>
          </fieldset>
        </div>

        <div class="form-group">
          <div class="input-group mb-3">
            <select class="form-select" id="inputGroupSelect02">
              <option selected>Toutes les catégories</option>
              <option *ngFor="let category of categoryOption"
                      [value]="category">
                {{category}}
              </option>
            </select>
            <label class="input-group-text" for="inputGroupSelect02" ><!--*ngFor="let products of (products$ | async)">-->
              <app-icon-search class="btn btn-outline-secondary"> <!--(click)="getByCategory(products.category)"--></app-icon-search>
            </label>
          </div>

          <div class="input-group mb-3">
            <select class="form-select" id="inputGroupSelect03">
              <option selected>Rechercher par boîte de vitesse </option>
              <option *ngFor="let gearBox of gearBoxOption"
                      [value]="gearBox">
                {{gearBox}}
              </option>
            </select>
            <label class="input-group-text" for="inputGroupSelect03" >
              <app-icon-search class="btn btn-outline-secondary" ></app-icon-search>
            </label>
          </div>

        </div>
      </div>


    <section class="product-section">
      <div class="card-grid">

        <div *ngFor="let product of (products$ | async)" class="card" >
          <img [src]="product.picture" class="card_background card-img-top" alt="photo camping car">
          <div class="card-body">
            <div class="card-text">
              <p class="marque">{{product.denomination}}</p>
              <div class="line"></div>
              <div class="text-separate">
                <p><span>Prix TTC : </span>{{product.price_ttc}} €</p>
                <p><span>Année : </span>{{product.yearOfManufacture}}</p>
              </div>
              <p><span>Catégorie : </span>{{product.category}}</p>
              <p><span>Boîte de vitesse : </span>{{product.gear_box}}</p>
              <p><span>Nombre de couchages : </span>{{product.numberOfBeds}}</p>
              <div class="buttons-seperate">
                <app-icon-edit class="btn btn-outline-primary btn-sm m-2" [routerLink]="['/app', 'products', 'edit', product.id]">Modifier</app-icon-edit>
                <app-icon-delete class="btn btn-outline-danger btn-sm m-2" (click)="handleDelete(product.id)">Supprimer</app-icon-delete>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</section>

