<div class="text-center">
  <img src="/assets/img/404.png" class="img-fluid" alt="image erreur page 404">
  <p><a [routerLink]="['/']" [routerLinkActive]="'menu-actif'">
    Retourner à l'accueil
  </a>
  </p>
</div>
