<div class="d-flex align-items-center justify-content-between gap-1 mt-4 mb-5">
  <h1 class="text-primary gap-1 mt-5 mb-5">{{ title }}</h1>
  <ng-content select=".action-buttons"></ng-content>
</div>

<section>
  <ng-content></ng-content>
</section>

