<div class="modal-header">
  <h5 class="modal-title">Confirmation</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>

<div class="modal-body">
  <p>Êtes vous sûr ?</p>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="activeModal.close(true)">Confirmer</button>
  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="activeModal.dismiss()">Annuler</button>
</div>
