<header class="d-flex justify-content-between gap-1 align-items-center">
  <div>
    <app-icon-nav class="tr-btn" *ngIf="!menuOpenStatus" (click)="toggleMenu()"></app-icon-nav>
    <app-icon-close class="tr-close" *ngIf="menuOpenStatus" (click)="toggleMenu()"></app-icon-close>
  </div>

  <div *ngIf="connectedUser">
    <!--<app-icon-disconnect></app-icon-disconnect>-->
    <span>{{connectedUser.firstname}} <!--{{connectedUser.lastname | uppercase}}--></span>
    <button class="btn btn-primary" (click)="disconnect()">Se déconnecter</button>
  </div>
</header>
