.container-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 0;
  padding-right: 0;
  margin: 2rem;
}

.form-group{
  display: flex;
  flex-direction: column;
  margin: 1rem 0 .5rem 0;
}

.form-group label {
  margin-bottom: .5rem;
}

.form-group input {
  padding: .5rem;
  border-radius: 3px;
  border: 1px solid #00000050;
}

@media screen and (min-width: 768px) {
  .container-form {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
