<div class="container-form">
    <form class="my-4" [formGroup]="form" autocomplete="off" *ngIf="form">

      <div class="form-group">
        <label for="picture">Photo</label>
        <select class="form-control" [ngClass]="{'is-invalid': hasError('picture', 'required')}" id="picture"
                formControlName="picture">
          <option value="">Choix de la photo</option>
          <option *ngFor="let picture of pictureOption"
                  [value]="picture">
            {{picture}}
          </option>
        </select>
        <div class="invalid-feedback" *ngIf="hasError('picture', 'required')">
          Champs obligatoire
        </div>
      </div>

      <div class="form-group">
        <label for="denomination">Marque</label>
        <input class="form-control" [ngClass]="{'is-invalid': hasError('denomination', 'required')}" id="denomination"
               formControlName="denomination" required>
        <div class="invalid-feedback" *ngIf="hasError('denomination', 'required')">
          Champs obligatoire
        </div>
      </div>

      <div class="form-group">
        <label for="price_ttc">Prix TTC</label>
        <input type="number" class="form-control" [ngClass]="{'is-invalid': hasError('price_ttc', 'required')}" id="price_ttc"
               formControlName="price_ttc">
        <div class="invalid-feedback" *ngIf="hasError('price_ttc', 'required')">
          Champs obligatoire
        </div>
      </div>

      <div class="form-group">
        <label for="gear_box">Boîte de vitesse</label>
        <select class="form-control" [ngClass]="{'is-invalid': hasError('gear_box', 'required')}" id="gear_box"
               formControlName="gear_box">
          <option value="">Choix de la boîte de vitesse</option>
          <option *ngFor="let gearBox of gearBoxOption"
                  [value]="gearBox">
            {{gearBox}}
          </option>
        </select>
        <div class="invalid-feedback" *ngIf="hasError('gear_box', 'required')">
          Champs obligatoire
        </div>
      </div>

      <div class="form-group">
        <label for="category">Catégorie</label>
        <select class="form-control" [ngClass]="{'is-invalid': hasError('category', 'required')}" id="category"
               formControlName="category">
          <option value="">Choix de la catégorie</option>
          <option *ngFor="let category of categoryOption"
                  [value]="category">
            {{category}}
          </option>
        </select>
        <div class="invalid-feedback" *ngIf="hasError('category', 'required')">
          Champs obligatoire
        </div>
      </div>

      <div class="form-group">
        <label for="numberOfBeds">Nombre de couchages</label>
        <input type="number" class="form-control" [ngClass]="{'is-invalid': hasError('numberOfBeds', 'required')}" id="numberOfBeds"
               formControlName="numberOfBeds">
        <div class="invalid-feedback" *ngIf="hasError('numberOfBeds', 'required')">
          Champs obligatoire
        </div>
      </div>

      <div class="form-group">
        <label for="yearOfManufacture">annee_fabrication</label>
        <input type="number" class="form-control" [ngClass]="{'is-invalid': hasError('yearOfManufacture', 'required')}" id="yearOfManufacture"
               formControlName="yearOfManufacture">
        <div class="invalid-feedback" *ngIf="hasError('yearOfManufacture', 'required')">
          Champs obligatoire
        </div>
      </div>

      <div class="mt-4 d-flex align-items-center justify-content-between">
        <button type="button" class="btn btn-light" (click)="handleResetForm()">Annuler</button>
        <button type="button" class="btn btn-secondary" [routerLink]="['/app', 'products', 'list']">Retour</button>
        <button type="button" class="btn btn-primary" [disabled]="form.invalid" (click)="handleSubmit()">Enregistrer</button>
      </div>
    </form>
</div>
