<div class="container-form">
    <form [formGroup]="form"  autocomplete="off" *ngIf="form">
        <div class="form-group">
          <label for="firstname">Prénom</label>
          <input class="form-control" [ngClass]="{'is-invalid': hasError('firstname', 'required')}" id="firstname"
                 formControlName="firstname" required>
          <div class="invalid-feedback" *ngIf="hasError('firstname', 'required')">
            Champs obligatoire
          </div>
        </div>

        <div class="form-group">
          <label for="lastname">Nom</label>
          <input class="form-control" [ngClass]="{'is-invalid': hasError('lastname', 'required')}" id="lastname"
                 formControlName="lastname">
          <div class="invalid-feedback" *ngIf="hasError('lastname', 'required')">
            Champs obligatoire
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" [ngClass]="{'is-invalid': hasError('email', 'required') || hasError('email', 'email')}" id="email"
                 formControlName="email">
          <div class="invalid-feedback" *ngIf="hasError('email', 'required')">
            Champs obligatoire
          </div>
          <div class="invalid-feedback" *ngIf="hasError('email', 'email')">
            Mauvais format email (xxx@xxx.xxx)
          </div>
        </div>

        <div class="form-group">
          <label for="address">Adresse postale</label>
          <input class="form-control" id="address" formControlName="address">
        </div>

        <div class="form-group">
          <label for="mobile">Numéro de téléphone</label>
          <input type="number" class="form-control" [ngClass]="{'is-invalid': hasError('mobile', 'required') || hasError('mobile', 'minLength') || hasError('mobile', 'maxLength')}" id="mobile"
                 formControlName="mobile">
          <div class="invalid-feedback" *ngIf="hasError('mobile', 'required')">
            Champs obligatoire
          </div>
          <div class="invalid-feedback" *ngIf="hasError('mobile', 'minLength') || hasError('mobile', 'maxLength')">
            Nombre de chiffre erronné
          </div>
        </div>

        <div class="mt-3 mb-2">
          <div class="d-flex align-items-center gap-3" [ngClass]="{'is-invalid': hasError('status', 'required')}">
            <label>Statut</label>
            <div class="btn-group" role="group">
              <input type="radio" formControlName="status" [value]="true" class="btn-check" id="statut-actif" >
              <label class="btn btn-outline-primary" for="statut-actif">Actif</label>

              <input type="radio" formControlName="status" [value]="false" class="btn-check" id="statut-inactif">
              <label class="btn btn-outline-primary" for="statut-inactif">Inactif</label>
            </div>
          </div>
          <div class="invalid-feedback" *ngIf="hasError('status', 'required')">
            Champs obligatoire
          </div>
        </div>

        <div class="form-group">
          <label for="notes">Notes</label>
          <textarea class="form-control" id="notes" formControlName="notes" rows="3"></textarea>
        </div>

        <div class="mt-4 d-flex align-items-center justify-content-between">
          <button type="button" class="btn btn-light" (click)="handleResetForm()">Annuler</button>
          <button type="button" class="btn btn-secondary" [routerLink]="['/app', 'clients', 'list']">Retour</button>
          <button type="button" class="btn btn-primary" [disabled]="form.invalid" (click)="handleSubmit()">Enregistrer</button>
        </div>
      </form>
</div>
