<section class="container">
  <div class="row">
    <h1 class="title">Ajouter un nouveau client</h1>
  </div>

  <div class="row">
    <app-client-form [form]="clientFormGroup" class="d-block my-4" (submit)="handleSubmit()"></app-client-form>
  </div>
</section>
