<div class="container-form">
    <form [formGroup]="form" autocomplete="off" *ngIf="form">


      <div class="form-group">
        <label for="employeeNumber">N°Employé</label>
        <input type="number" class="form-control" [ngClass]="{'is-invalid': hasError('employeeNumber', 'required')}" id="employeeNumber"
               formControlName="employeeNumber" required>
        <div class="invalid-feedback" *ngIf="hasError('employeeNumber', 'required')">
          Champs obligatoire
        </div>
      </div>

      <div class="form-group">
        <label for="username">Nom d'utilisateur</label>
        <input class="form-control" [ngClass]="{'is-invalid': hasError('username', 'required')}" id="username"
               formControlName="username" required>
        <div class="invalid-feedback" *ngIf="hasError('username', 'required')">
          Champs obligatoire
        </div>
      </div>

      <div class="form-group">
        <label for="lastname">Nom</label>
        <input class="form-control" [ngClass]="{'is-invalid': hasError('lastname', 'required')}" id="lastname"
               formControlName="lastname">
        <div class="invalid-feedback" *ngIf="hasError('lastname', 'required')">
          Champs obligatoire
        </div>
      </div>

      <div class="form-group">
        <label for="firstname">Prénom</label>
        <input class="form-control" [ngClass]="{'is-invalid': hasError('firstname', 'required')}" id="firstname"
               formControlName="firstname">
        <div class="invalid-feedback" *ngIf="hasError('firstname', 'required')">
          Champs obligatoire
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" [ngClass]="{'is-invalid': hasError('email', 'required') || hasError('email', 'email')}" id="email"
               formControlName="email">
        <div class="invalid-feedback" *ngIf="hasError('email', 'required')">
          Champs obligatoire
        </div>
        <div class="invalid-feedback" *ngIf="hasError('email', 'email')">
          Mauvais format email (xxx@xxx.xxx)
        </div>
      </div>

      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" class="form-control" [ngClass]="{'is-invalid': hasError('password', 'required')}" id="password"
               formControlName="password">
        <div class="invalid-feedback" *ngIf="hasError('password', 'required')">
          Champs obligatoire
        </div>
      </div>

      <div class="form-group">
        <label for="grants">Rôle</label>
        <select class="form-control" [ngClass]="{'is-invalid': hasError('grants', 'required')}" id="grants"
                formControlName="grants">
          <option value="">Choix du rôle</option>
          <option *ngFor="let grants of grantsOption"
                  [value]="grants">
            {{grants}}
          </option>
        </select>

        <div class="invalid-feedback" *ngIf="hasError('grants', 'required')">
          Champs obligatoire
        </div>
      </div>

      <div class="form-group">
        <label for="job">Métier</label>
        <select class="form-select" [ngClass]="{'is-invalid': hasError('job', 'required')}" id="job"
                formControlName="job">
          <option value="">Choix du métier</option>
          <option *ngFor="let job of jobOption"
                  [value]="job">
            {{job}}
          </option>
        </select>

        <div class="invalid-feedback" *ngIf="hasError('job', 'required')">
          Champs obligatoire
        </div>
      </div>

      <div class="mt-4 d-flex align-items-center justify-content-between">
        <button type="button" class="btn btn-light" (click)="handleResetForm()">Annuler</button>
        <button type="button" class="btn btn-secondary" [routerLink]="['/app', 'users', 'list']">Retour</button>
        <button type="button" class="btn btn-primary" [disabled]="form.invalid" (click)="handleSubmit()">Enregistrer</button>
      </div>
    </form>
</div>
