<section class="container">
  <div class="row">
    <h1 class="title">Ajouter un nouveau produit</h1>
  </div>

  <div class="row">
    <app-product-form class="my-4" [form]="productFormGroup" (submit)="handleSubmit()"></app-product-form>
  </div>
</section>

